@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url(/startpage/background/rain-g2fb5cb23c_1920.jpg);
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.cards {
    border-radius: 15px;
    width: 40vw;
    height: 30vh;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2);
} 