@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2c/Resolution-high-tree-minimal-wallpaper-wallpapers.jpg);
}

.page-title {
    position: absolute;
    top: 50px;
    text-shadow: 2px 2px 4px black;
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.cards {
    border-radius: 15px;
    width: 40vw;
    height: 30vh;
    margin: 5px;
    box-shadow: 2px 2px 4px black;
    background-color: rgba(255, 255, 255, 0.2);
}



.top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons img {
    width: 100%;
    max-width: 5.5vw;
    height: auto;
    margin: 5px;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}