@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS 1 Code', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2c/Resolution-high-tree-minimal-wallpaper-wallpapers.jpg);
}

.page-title {
    position: absolute;
    top: 10px;
    text-shadow: 2px 2px 4px black;
    color: white;
    font-size: 90px;
}

.search-form {
    position: absolute;
    top: 250px;
}

.search-bar {
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 4px black;
    margin-right: 5px;
}

.search-form button {
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.cards {
    border-radius: 15px;
    width: 40vw;
    height: 30vh;
    box-shadow: 2px 2px 4px black;
    background-color: rgba(255, 255, 255, 0.2);
}

.right-card {
    margin-left: 20px;
}

.left-card {
    margin-right: 20px;
}

.left-card h1 {
    text-align: center;
    font-size: 80px;
    color: #fff;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}

.top-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons img {
    width: 100%;
    max-width: 5.5vw;
    height: auto;
    margin: 10px;
    -webkit-filter: drop-shadow(2px 2px 5px #222);
    filter: drop-shadow(2px 2px 5px #222);
}